*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#f57579,#a686f3);
}

.container{
    width:350px;
    padding:25px;
    text-align:center;
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(12px);
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    transition:0.4s;
}

h1{
    margin-bottom:20px;
}

#count{
    font-size:60px;
    margin-bottom:20px;
}

.buttons button{
    margin-top:20px;
    padding:12px 30px;
    border:none;
    border-radius:30px;
    background:linear-gradient(45deg,#ff6b6b,#ff8e53);
    color:white;
    font-size:18px;
    font: 1em sans-serif;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(255,107,107,0.4);
}

button:hover{
    transform:scale(1.05);
    box-shadow:0 8px 20px rgba(255,107,107,0.3);
}

#decrease{
    background:red;
}

#reset{
    background:gray;
}

#increase{
    background:green;
}

button:hover{
    opacity:0.8;
}